<div class="modal-header"  > <!-- modal starts here. -->
    <div class="row">
        <div class="col-sm-4 col-md-12"><progressbar class="progress-striped active" max="100" value="100" type="info"><b>Please wait, loading in progress.</b></progressbar></div>
    </div>
</div>
