<div class="row">
    <div class="input-group input-group-sm col-md-4 col-xs-4 col-md-offset-4 col-xs-offset-4" >
        <input typeahead = "book.name for book in bookTypeahead | filter:$viewValue | limitTo:8"
               type="text"
               placeholder="Search Book By Name"
               class="form-control"
               ng-model="book" >
                    <span class="input-group-btn">
                        <button class="btn btn-success" type="button" ng-click="search(book)">
                            <span class="glyphicon glyphicon-search" aria-hidden="true" ></span>
                        </button>
                    </span>
    </div>
</div><br><br>

<div class="row">
    <div class="col-md-3 col-md-offset-1" style="background-color:#9c9f84;"><br><br>
        <div class="panel panel-primary col-md-11" style="background-color:#D1FFD1;" ng-repeat="chapter in chapterArr">
            <a><div class="row"  ng-click="viewChapter(chapter)">
                <div class="col-md-5">
                    Chapter : {{chapter.no}}

                </div>
                <div class="col-md-6 col-md-offset-1">
                    {{chapter.name}}
                </div>
            </div></a>
        </div>

    </div>

</div><br>

<div class="row" ng-hide="pageFlag">
    <div class="panel panel-primary col-md-offset-4 col-md-6"><br><br>
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <b><h4>{{currChapter}}</h4></b>
            </div>
        </div><br><br>
        <div class="row">
            <div class="col-md-1 col-md-offset-1">
                <button class="btn btn-success" type="button" ng-disabled="page.no<=1" ng-click="prev(page)">
                    <span class="glyphicon glyphicon-arrow-left" aria-hidden="true" ></span>
                </button>
            </div>

            <div class="col-md-offset-3 col-md-2">
                <b>Curr Page : </b>
            </div>
            <div class="col-md-2">
                <b>{{page.no}}</b>
            </div>
            <div class="col-md-1">
                <button class="btn btn-success" type="button" ng-disabled="page.no>=ending" ng-click="next(page)">
                    <span class="glyphicon glyphicon-arrow-right" aria-hidden="true" ></span>
                </button>
            </div>
        </div><br><br>
        <div class="row">

            <div class="col-md-12">
            <textarea style="width: 615px; height: 500px;background-color:#D1FFD1;" ng-disabled="true">
                    {{page.content}}
                </textarea>
            </div>

        </div>


        <br><br>

    </div>
</div>

